.App {
  text-align: left;
  flex: 1;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: red;
  height: 100vh;
}

.MainBody {
  text-align: center;
  flex-direction: row-reverse;
  overflow: hidden;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  background-color:rgb(221, 214, 214);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: {window.innerWidth > '470px' ? 80% : 70% };
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
